@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend;
}

/* START OF OUTLINE */
.main-container{
    display: flex;
}

.left, .right{
    width: 50%;
    height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0%;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
}

.right{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0%;
}

.mid{
    border: solid 5px black;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 30%;
}

.top-line{
    border: solid black;
    position: absolute;
    height: 34%;
    top: 0px;
    left: 49.85%;
}

.bottom-line{
    border: solid black;
    position: absolute;
    height: 33%;
    top: 65%;
    left: 49.85%;
}
/* END OF OUTLINE */

/* START OF LEFT SIDE CODE */
.left .badges{
    border: solid black;
    height: 20%;
}

.left .pic img{
    width: auto;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
}

.left .details{
    border: solid black;
    border-right: none;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25px;
    font-size: 18px;
}

.details .button{
    display: inline-block;
    height: 70px;
    width: 130px;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 65px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition:  all 0.3s ease-out;
}

.details .button:hover{
    width: 300px;
}

.details .button .name::before {
    content: "Name";
  }

.details .button .name:hover::before {
    content: "Mark David L. Basinillo";
}

.details .button .age::before {
    content: "Age";
  }

.details .button .age:hover::before {
    content: "20 years old";
}

.details .button .bday::before {
    content: "Bday";
  }

.details .button .bday:hover::before {
    content: "June 28, 2003";
}

.details .button .verse::before {
    content: "Verse";
  }

.details .button .verse:hover::before {
    content: "John 3:16";
}

.details .button .quote::before {
    content: "Quote";
  }

.details .button .quote:hover::before {
    content: "Live your life";
}

.details .button .hobbies::before {
    content: "Hobbies";
  }

.details .button .hobbies:hover::before {
    content: "Gaming, Music";
}

.left .socials{
    border: solid black;
    height: 10%;
    padding: 30px;
}

.socials .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition:  all 0.4s ease-out;
    overflow: hidden;
}

.socials .button:hover{
    width: 200px;
    background: #fff;
}

.socials .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    transition:  all 0.4s ease-out;
}

.socials .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition:  all 0.4s ease-out;
}

.socials .button:hover .icon i{
    color: #fff;
}

.socials .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.socials .button:nth-child(1):hover .icon{
    background: #4767B2;
}

.socials .button:nth-child(2):hover .icon{
    background: #E1306C;
}

.socials .button:nth-child(3):hover .icon{
    background: #1DA1F2;
}

/* START OF RIGHT SIDE CODE */
.right .badges{
    border: solid black;
    height: 20%;
}

.right .details{
    border: solid black;
    border-left: none;
    height: 70%;
}

.right .socials{
    border: solid black;
    height: 10%;
    padding: 30px;
}