@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;700&family=Lexend:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;700&family=Lexend:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Kalnia, Lexend, Valorant;
}

/* START OF OUTLINE */
.main-container{
    display: flex;
}

.left, .right{
    width: 50%;
    height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0%;
    background-image: url("Images/mark.jpeg");
    background-size: cover;
    background-position: 0px -30px;
    background-repeat: no-repeat;
    border-right: solid #fff 1px;
}

.right{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0%;
    background-image: url("Images/andrea.jpg");
    background-size: 200%;
    background-position: -550px -350px;
    background-repeat: no-repeat;
    border-left: solid #fff 1px;
}
/* END OF OUTLINE */


/* START OF LEFT SIDE CODE */
.left .header{
    height: 20%;
    display: flex;
    align-items: center;
}

.left .header .pic img{
    height: 80px;
    width:  80px;
    border-radius: 50%;
    margin-left: 40px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.left .details{
    border-right: none;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 35px;
    font-size: 18px;
}

.left .details .button .name,
.left .details .button .age,
.left .details .button .bday,
.left .details .button .quote,
.left .details .button .hobbies
{
    display: inline-block;
    height: 70px;
    width: 130px;
    background: #997B5F;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 65px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition:  all 0.4s ease-out;
    overflow: hidden;
}

.left .details .button .name:hover,
.left .details .button .age:hover,
.left .details .button .bday:hover,
.left .details .button .quote:hover
{
    width: 300px;
}

.left .details .button .hobbies:hover{
    width: 500px;
}

.left .details .button .name::before {
    content: "Name";
  }

.left .details .button .name:hover::before {
    content: "Mark David L. Basinillo";
}

.left .details .button .age::before {
    content: "Age";
  }

.left .details .button .age:hover::before {
    content: "20 years old";
}

.details .button .bday::before {
    content: "Bday";
  }

.left .details .button .bday:hover::before {
    content: "June 28, 2003";
}

.left .details .button .quote::before {
    content: "Quote";
  }

.left .details .button .quote:hover::before {
    content: "Be better than yesterday";
}

.left .details .button .hobbies::before {
    content: "Hobbies";
  }

.left .details .button .hobbies:hover::before {
    content: "Gaming, Singing, Watching Movies and KDramas";
}

.left .socials{
    height: 10%;
    padding: 30px;
}

.left .socials .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #997B5F;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition:  all 0.4s ease-out;
    overflow: hidden;
}

.left .socials .facebook:hover{
    width: 190px;
    background: #4767B2;
    color: white;
}

.left .socials .instagram:hover{
    width: 230px;
    background: #E1306C;
    color: white;
}

.left .socials .twitter:hover{
    width: 170px;
    background: #1DA1F2;
    color: white;
}

.socials .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    transition:  all 0.4s ease-out;
}

 .socials .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition:  all 0.4s ease-out;
}

.socials .button:hover .icon i{
    color: #fff;
}

.socials .button span{
    font-size: 18px;
    margin-left: 5px;
} 

.socials .button:nth-child(1):hover .icon{
    background: #4767B2;
}

.socials .button:nth-child(2):hover .icon{
    background: #E1306C;
}

.socials .button:nth-child(3):hover .icon{
    background: #1DA1F2;
}


/* START OF RIGHT SIDE CODE */
.right .header{
    height: 20%;
    display: flex;
    align-items: center;
}

.right .header .pic{
    margin-right: 30px;
    margin-left: auto;
}

.right .header .pic img{
    height: 80px;
    width:  80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.right .details{
    border-right: none;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 35px;
    font-size: 18px;
}

.right .details .button{
    margin-right: 30px;
    margin-left: auto;
}

.right .details .button .name,
.right .details .button .age,
.right .details .button .bday,
.right .details .button .quote,
.right .details .button .hobbies
{
    display: inline-block;
    height: 70px;
    width: 130px;
    background: #997B5F;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 65px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition:  all 0.4s ease-out;
    overflow: hidden;
}

.right .details .button .name:hover,
.right .details .button .age:hover,
.right .details .button .bday:hover
{
    width: 300px;
}

.right .details .button .quote:hover{
    width: 420px;
}

.right .details .button .hobbies:hover{
    width: 500px;
}

.right .details .button .name::before {
    content: "Name";
  }

.right .details .button .name:hover::before {
    content: "Andrea Joy N. Dela Torre";
}

.right .details .button .age::before {
    content: "Age";
  }

.right .details .button .age:hover::before {
    content: "20 years old";
}

.right .details .button .bday::before {
    content: "Bday";
  }

.right .details .button .bday:hover::before {
    content: "August 22, 2003";
}

.right .details .button .quote::before {
    content: "Quote";
  }

.right .details .button .quote:hover::before {
    content: "It may be difficult but not impossible";
}

.right .details .button .hobbies::before {
    content: "Hobbies";
  }

.right .details .button .hobbies:hover::before {
    content: "Gaming, Listening to Music, and Singing";
}

.right .socials .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #997B5F;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition:  all 0.4s ease-out;
    overflow: hidden;
}

.right .socials{
    height: 10%;
    padding: 30px;
    margin-right: 0px;
    margin-left: auto;
}

.right .socials .facebook:hover{
    width: 190px;
    background: #4767B2;
    color: white;
}

.right .socials .instagram:hover{
    width: 230px;
    background: #E1306C;
    color: white;
}

.right .socials .twitter:hover{
    width: 170px;
    background: #1DA1F2;
    color: white;
}


/* START OF MID CONTAINER */
.mid{
    border: solid #fff 2px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background-image: url(Images/logo.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}